@using System.Web.Mvc.Html
@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Navigation
@using Sitecore.Mvc.Presentation
@model Habitat.Navigation.Models.Jango.Breadcrumb
<!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-3 -->
<div class="c-layout-breadcrumbs-1 c-bgimage c-subtitle c-fonts-uppercase c-fonts-bold c-bg-img-center" style="background-image: url(@Model.ImageUrl)">
    @{ if (Sitecore.Context.PageMode.IsPageEditor)
            {
            @Html.Sitecore().Field("ComponentImage", @Model.Item, new { mw = 200, mh = 200, @class = "img-responsive" })
        }
    }
    <div class="container">
        <div class="c-page-title c-pull-left">
            <h3 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim">@Model.PageItem.TemplateName</h3>
        </div>
        <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
            @foreach (var item in Model.Items)
            {
                <li>
                    <a href="@Sitecore.Links.LinkManager.GetItemUrl(item.Item)" class="c-font-white">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle.ToString(), item.Item)</a>
                </li>
                <li class="c-font-white">/</li>
            }
        </ul>
    </div>
</div>
<!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-3 -->