@using System.Web.Mvc.Html
@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.PageContent
@using Sitecore.Mvc.Presentation
@model Habitat.PageContent.Models.PageContentModel
<!-- BEGIN: CONTENT/FEATURES/FEATURES-11 -->
<div class="c-content-box c-size-xg c-bg-parallax" style="background-image: url(@Model.ImageUrl)">
    @{ if (Sitecore.Context.PageMode.IsPageEditor && Model.ImageUrl == null)
        {
            @Html.Sitecore().Field("ComponentImage", @Model.Item, new { @class = "img-responsive" })
        }
    }
    <div class="container">
        <div class="c-content-feature-8 c-opt-1">
            <ul class="c-grid">
                <li>
                    @Html.Sitecore().DynamicPlaceholder("teaser")
                </li>
                <li>
                    @Html.Sitecore().DynamicPlaceholder("teaser")
                </li>
            </ul>
            <ul class="c-grid">
                <li>
                    @Html.Sitecore().DynamicPlaceholder("teaser")
                </li>
                <li>
                    @Html.Sitecore().DynamicPlaceholder("teaser")
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: CONTENT/FEATURES/FEATURES-11 -->