@using System.Web.Mvc.Html
@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.PageContent
@using Sitecore.Mvc.Presentation
@model Habitat.PageContent.Models.PageContentModel
@{ if (Sitecore.Context.PageMode.IsPageEditor && Model.ImageUrl == null)
            {
        @Html.Sitecore().Field("ComponentImage", @Model.Item, new { @class = "img-responsive" })
    }
}
<div class="c-content-box c-size-md c-bg-parallax"style="background-image: url(@Model.ImageUrl)">    
    <div class="container">        
        <div class="c-content-feature-10">
            <!-- Begin: Title 1 component -->
            <div class="c-content-title-1">
                <h3 class="c-font-uppercase c-center c-font-bold">@Html.Sitecore().Field("Title", @Model.Item)</h3>
                <div class="c-line-center c-theme-bg"></div>
                <p class="c-font-center">@Html.Sitecore().Field("Description", @Model.Item)</p>
            </div>
            <!-- End-->
            <ul class="c-list">
                <li>
                    <div class="c-card c-font-right wow animate fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                        @Html.Sitecore().DynamicPlaceholder("teaser")
                    </div>
                    <div class="c-border-bottom c-bg-opacity-2"></div>
                </li>
                <div class="c-border-middle c-bg-opacity-2"></div>
                <li>
                    <div class="c-card wow animate fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                        @Html.Sitecore().DynamicPlaceholder("teaser")
                    </div>
                    <div class="c-border-bottom c-bg-opacity-2"></div>
                </li>
            </ul>
            <ul class="c-list">
                <li>
                    <div class="c-card c-font-right wow animate fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                        @Html.Sitecore().DynamicPlaceholder("teaser")
                    </div>
                    <div class="c-border-bottom c-bg-opacity-2"></div>
                </li>
                <div class="c-border-middle c-bg-opacity-2"></div>
                <li class="c-border-grey-1-5">
                    <div class="c-card wow animate fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                        @Html.Sitecore().DynamicPlaceholder("teaser")
                    </div>
                    <div class="c-border-bottom c-bg-opacity-2"></div>
                </li>
            </ul>
            <ul class="c-list">
                <li>
                    <div class="c-card c-font-right wow animate fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                        @Html.Sitecore().DynamicPlaceholder("teaser")
                    </div>
                </li>
                <div class="c-border-middle c-bg-opacity-2"></div>
                <li class="c-border-grey-1-5">
                    <div class="c-card wow animate fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                        @Html.Sitecore().DynamicPlaceholder("teaser")
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>