@using System.Web.Mvc.Html
@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.PageContent
@using Sitecore.Mvc.Presentation
@model Sitecore.Mvc.Presentation.RenderingModel
<!-- BEGIN: CONTENT/MISC/LATEST-ITEMS-1 -->
<div class="c-content-box c-size-xg c-bg-grey-1">
    <div class="container">
        <div class="row" data-auto-height="true">
            <div class="col-md-4 c-margin-b-30 wow animate fadeInDown">
                @Html.Sitecore().DynamicPlaceholder("teaser")
            </div>
            <div class="col-md-4 c-margin-b-30 wow animate fadeInDown" data-wow-delay="0.2s">
                @Html.Sitecore().DynamicPlaceholder("teaser")
            </div>
            <div class="col-md-4 c-margin-b-30 wow animate fadeInDown" data-wow-delay="0.4s">
                @Html.Sitecore().DynamicPlaceholder("teaser")
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 wow animate fadeInLeft">
                <div class="c-content-media-3-slider" data-slider="owl" data-single-item="true" data-auto-play="4000">
                    <div class="owl-carousel owl-theme c-theme owl-single">
                        <div class="item">
                            @Html.Sitecore().DynamicPlaceholder("teaser")
                        </div>
                        <div class="item">
                            @Html.Sitecore().DynamicPlaceholder("teaser")
                        </div>
                        <div class="item">
                            @Html.Sitecore().DynamicPlaceholder("teaser")
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow animate fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                <div class="c-content-testimonial-2-slider" data-slider="owl" data-single-item="true" data-auto-play="6000">
                    <div class="owl-carousel owl-theme c-theme owl-single" style="opacity: 1; display: block;">
                        <div class="item">
                            @Html.Sitecore().DynamicPlaceholder("teaser")
                        </div>
                        <div class="item">
                            @Html.Sitecore().DynamicPlaceholder("teaser")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: CONTENT/MISC/LATEST-ITEMS-1 -->
