@using System.Web.Mvc.Html
@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.PageContent
@using Sitecore.Mvc.Presentation
@model  Habitat.Teasers.Model.TeaserGroup
<!-- BEGIN: CONTENT/TESTIMONIALS/TESTIMONIALS-6-1 -->
<div class="c-content-box c-size-xg c-bg-grey-1">
    <div class="container">
        <div class="c-content-blog-post-card-1-slider" data-slider="owl" data-items="3" data-auto-play="8000">
            <div class="c-content-title-1">
                <h3 class="c-center c-font-uppercase c-font-bold">@Html.Sitecore().Field("Title", @Model.Item)</h3>
                <div class="c-line-center c-theme-bg"></div>
                <p class="c-center c-font-uppercase1">@Html.Sitecore().Field("SubTitle", @Model.Item)</p>
            </div>
            <div class="owl-carousel owl-theme c-theme">
                <div class="item">
                    @Html.Sitecore().DynamicPlaceholder("teaser")                    
                </div>
                <div class="item">
                    @Html.Sitecore().DynamicPlaceholder("teaser")
                </div>
                <div class="item">
                    @Html.Sitecore().DynamicPlaceholder("teaser")
                </div>
                <div class="item">
                    @Html.Sitecore().DynamicPlaceholder("teaser")
                </div>
                <div class="item">
                    @Html.Sitecore().DynamicPlaceholder("teaser")
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: CONTENT/TESTIMONIALS/TESTIMONIALS-6-1 -->